<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HTML5 Hacker</title>
        <%= CSS %>
    </head>
    <body>"
        <div class="hidden" id="text"><%= Text %></div>
        <div class="terminal" id="terminal">
        </div>
        <script> <%= Script %></script>
    </body>
</html>
